@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.rwd-table {
  margin: 5em 20em;
  min-width: 300px;

}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: url(http://hq-wallpapers.ru/wallpapers/10/hq-wallpapers_ru_abstraction3d_49540_1920x1080.jpg);
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #efaf8c;
}

.rwd-table tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.rwd-table td:hover {
  background-color: #987654;
  color: #403E10;

  box-shadow: #654321 -1px 1px, #654321 -2px 2px, #654321 -3px 3px, #654321 -4px 4px, #654321 -5px 5px, #654321 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
  	  transition-duration: 0.4s;
  	  transition-property: all;
      transition-timing-function: line;
  }

.example_a {
color: #efaf8c !important;
text-transform: uppercase;
background: #34495E;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}

.example_a:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.logout_button:hover {
background: #B22222;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.logout_button {
color: #efaf8c !important;
text-transform: uppercase;
background: #34495E;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
position:absolute; top:0; right:0;
}

.example_b {
color: #efaf8c !important;
text-transform: uppercase;
background: #34495E;
padding: 20px;
border-radius: 5px;
display: inline-block;l
border: none;
}

.example_b:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}


